{% load static %}
<div class="card mycard">
    <img src="{% static 'inventario/img/componentes/cpu.png' %}" class="card-img-top myimg"
         alt="...">
    <div class="card-body text-center">
        <h5 class="card-title text-center">CPU</h5>
        {% if cpu.marca %}
            <p class="card-text text-center">Marca: {{ cpu.marca }}</p>

        {% endif %}
        {% if cpu.modelo %}
            <p class="card-text text-center">Modelo: {{ cpu.modelo }}</p>

        {% endif %}
        {% if cpu.capacidad %}
            <p class="card-text text-center">Capacidad: {{ cpu.capacidad }}</p>
        {% endif %}
        {% if 'inventario.change_cpu' in perms %}
            <a href="/admin/inventario/cpu/{{ cpu.id }}"
               target="_blank"
               class="btn btn-primary">{% include 'inventario/iconos/edit.html' %}</a>
        {% endif %}
    </div>
</div>