{% load static %}
<div class="card mycard">
    <img src="{% static 'inventario/img/componentes/lector.png' %}" class="card-img-top myimg"
         alt="...">
    <div class="card-body text-center">
        <h5 class="card-title text-center">Lector</h5>
        {% if lector.marca %}

            <p class="card-text text-center">Marca: {{ lector.marca }}</p>
        {% endif %}
        {% if lector.modelo %}
            <p class="card-text text-center">Modelo: {{ lector.modelo }}</p>

        {% endif %}
        {% if lector.noSerie %}

            <p class="card-text text-center">No Serie: {{ lector.noSerie }}</p>
        {% endif %}
        {% if 'inventario.change_lector' in perms %}
            <a href="/admin/inventario/lector/{{ lector.id }}"
               target="_blank"
               class="btn btn-primary">{% include 'inventario/iconos/edit.html' %}</a>
        {% endif %}

    </div>
</div>