{% load static %}
<div class="card mycard">
    <img src="{% static 'inventario/img/componentes/monitor.png' %}" class="card-img-top myimg"
         alt="...">
    <div class="card-body text-center">
        <h5 class="card-title text-center">Monitor</h5>
        {% if monitor.marca %}
            <p class="card-text text-center">Marca: {{ monitor.marca }}</p>
        {% endif %}
        {% if monitor.modelo %}
            <p class="card-text text-center">Modelo: {{ monitor.modelo }}</p>
        {% endif %}
        {% if monitor.noSerie %}
            <p class="card-text text-center">No Serie: {{ monitor.noSerie }}</p>
        {% endif %}
        {% if 'inventario.change_monitor' in perms %}
            <a href="/admin/inventario/monitor/{{ monitor.id }}"
               target="_blank"
               class="btn btn-primary">{% include 'inventario/iconos/edit.html' %}</a>
        {% endif %}
    </div>
</div>