{% load static %}

<div class="card mycard">
    <img src="{% static 'inventario/img/componentes/placa-madre.png' %}"
         class="card-img-top myimg" alt="...">
    <div class="card-body text-center">
        <h5 class="card-title">Motherboard</h5>
        <p class="card-text">Marca: {{ motherboard.marca }}</p>
        <p class="card-text">Modelo: {{ motherboard.modelo }}</p>
        <p class="card-text">No Serie: {{ motherboard.noSerie }}</p>
        {% if user.is_authenticated %}
            <a href="/admin/inventario/motherboard/{{ motherboard.id }}" class="btn btn-primary" target="_blank">{% include 'inventario/iconos/edit.html' %}</a>
        {% endif %}
    </div>
</div>