<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand mytitle" href="/">Medios Computacionales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Regiones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for region in region %}
                        <a class="dropdown-item" href="/region/{{ region.id }}">{{ region.nombre }}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Áreas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for area in areas %}
                        <a class="dropdown-item" href="/area/{{ area.id }}">{{ area.nombre }}</a>
                    {% endfor %}
                </div>
            </li>
            {#            <div class="collapse navbar-collapse">#}
            {#                <ul class="nav navbar-nav navbar-right">#}
            {#                    {% if user.is_authenticated %}#}
            {#                        <li><a href="">Logout</a></li>#}
            {#                        <li><a href=""#}
            {#                               class="p-r-none">Accounts</a></li>#}
            {#                    {% else %}#}
            {#                        <li><a href="">Login</a></li>#}
            {#                        <li><a href="" class="p-r-none">Sign Up</a></li>#}
            {#                    {% endif %}#}
            {#                </ul>#}
            {#            </div>#}
            {#            <li class="nav-item dropdown">#}
            {#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
            {#                   aria-haspopup="true" aria-expanded="false">#}
            {#                    Componentes#}
            {#                </a>#}
            {#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#                    <a class="dropdown-item" href="bocinas">Bocinas</a>#}
            {#                    <a class="dropdown-item" href="#">Cpu</a>#}
            {#                    <a class="dropdown-item" href="#">Estabilizadores</a>#}
            {#                    <a class="dropdown-item" href="#">Fuentes Internas</a>#}
            {#                    <a class="dropdown-item" href="#">HDD</a>#}
            {#                    <a class="dropdown-item" href="#">Impresoras</a>#}
            {#                    <a class="dropdown-item" href="#">Lectores</a>#}
            {#                    <a class="dropdown-item" href="#">Monitores</a>#}
            {#                    <a class="dropdown-item" href="#">Motherboards</a>#}
            {#                    <a class="dropdown-item" href="#">Mouses</a>#}
            {#                    <a class="dropdown-item" href="#">Ram</a>#}
            {#                    <a class="dropdown-item" href="#">Targetas de Red</a>#}
            {#                    <a class="dropdown-item" href="#">Targetas de Video</a>#}
            {#                    <a class="dropdown-item" href="#">Teclados</a>#}
            {#                    <a class="dropdown-item" href="#">UPS</a>#}
            {#                </div>#}
            {#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="/admin" tabindex="-1">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pc/list" tabindex="-1">Computadoras</a>
            </li>
        </ul>
    </div>
</nav>