{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <form action=""></form>
    <div class="container-fluid mt-4">
        <div class="row">
            {% if cpu %}
                {% for cpu in cpu %}
                    <div class="col">
                        {% include 'inventario/componentes/cpu.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if motherboard %}
                {% for motherboard in motherboard %}
                    <div class="col">
                        {% include 'inventario/componentes/motherboard.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if ram %}
                {% for ram in ram %}
                    <div class="col">
                        {% include 'inventario/componentes/ram.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if hdd %}
                {% for hdd in hdd %}
                    <div class="col">
                        {% include 'inventario/componentes/hdd.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if monitor %}
                {% for monitor in monitor %}
                    <div class="col">
                        {% include 'inventario/componentes/monitor.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if impresora %}
                {% for impresora in impresora %}
                    <div class="col">
                        {% include 'inventario/componentes/impresora.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if teclado %}
                {% for teclado in teclado %}
                    <div class="col">
                        {% include 'inventario/componentes/teclado.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if mouse %}
                {% for mouse in mouse %}
                    <div class="col">
                        {% include 'inventario/componentes/mouse.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if bocinas %}
                {% for bocina in bocinas %}
                    <div class="col">
                        {% include 'inventario/componentes/bocinas.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if ups %}
                {% for ups in ups %}
                    <div class="col">
                        {% include 'inventario/componentes/ups.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if estabilizador %}
                {% for estabilizador in estabilizador %}
                    <div class="col">
                        {% include 'inventario/componentes/estabilizador.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if trajeta_de_video %}
                {% for tarjeta_de_video in trajeta_de_video %}
                    <div class="col">
                        {% include 'inventario/componentes/tarjeta_de_video.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if tarjeta_de_red %}
                {% for tarjeta_de_red in tarjeta_de_red %}
                    <div class="col">
                        {% include 'inventario/componentes/tarjeta_de_red.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if fuente_interna %}
                {% for fuente_interna in fuente_interna %}
                    <div class="col">
                        {% include 'inventario/componentes/fuente_interna.html' %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if lector %}
                {% for lector in lector %}
                    <div class="col">
                        {% include 'inventario/componentes/lector.html' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}