{% extends 'layout.html'%}
{% load static %}

{% block content %}
    {% if bocinas %}
            {% for bocinas in bocinas %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'inventario/img/bocinas.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bocina</h5>
                            <p class="card-text">Marca: {{ bocinas.marca }}</p>
                            <p class="card-text">Modelo: {{ bocinas.modelo }}</p>
                            <p class="card-text">No Serie: {{ bocinas.noSerie }}</p>
                            <a href="/admin/inventario/bocinas/{{ bocinas.id }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
{% endblock %}