<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medios Computacionales</title>
    <link rel="stylesheet" href="{% static 'inventario/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'inventario/css/main.css' %}">
    <!-- JS, Popper.js, and jQuery -->
</head>
<body>
{% block nav %}
{% include 'inventario/nav.html' %}
{% endblock %}
{% block content %}
{% endblock %}

<script src="{% static 'inventario/js/jquery-3.5.1.slim.js' %}"></script>
<script src="{% static 'inventario/js/popper.js' %}"></script>
<script src="{% static 'inventario/js/bootstrap.js' %}"></script>
<script src="{% static 'inventario/js/main.js' %}"></script>
</body>
</html>